.title1{
	font-size: 25px;
	font-family: Microsoft YaHei;
	font-weight: bold;
	color: #008ECC;
	margin-left: 20px;
}
.title2{
	font-size: 18px;
	font-family: Microsoft YaHei;
	font-weight: bold;
	color: #008ECC;
	margin-left: 20px;
}
.title3{
	font-size: 15px;
	font-family: Microsoft YaHei;
	color:#6C6B6B;
	margin-left: 20px;
}
.title4{
	font-size: 15px;
	font-family: Microsoft YaHei;
	color: #6C6B6B;
	margin-left: 20px;
	/* font-weight: bold; */
}


#6C6B6B
#1D7D71