	#name{
	color: white;
	font-family: Microsoft YaHei;
	font-size: 25px;
	font-weight: bold; 
	margin-left: 135px; 
	
} 
		#adress{
			color:  white;
			font-family: Microsoft YaHei;
			font-size: 18px;
			font-weight: bold; 
			margin-left: 110px;
		}
		.three_ne{
			color:white;
			font-family:Microsoft YaHei;
			font-size:18px;
			margin-left: 140px;
			font-weight: bold; 
		}
		.order{
			color:  white;
			font-family: Microsoft YaHei;
			font-size: 18px;
			font-weight: bold;
			margin-left: 50px;
		}
		.description{
			color: white;
			font-family: Microsoft YaHei;
			font-size: 15px;
			font-style: italic;
			font-weight: bold;
			margin-left: 100px;
		}
		.message{

			margin-left: 50px;
			color: white;
			font-family: Microsoft YaHei;
			font-size: 15px;
		 	
		 	margin-left: 80px;
		}
